* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Helvetica;
}

h1{
  font-size: 4rem;
}

/* classe dinâmica */
.red-title {
  transition: 2s ease-in-out;
  font-size: 50px;
  color: red;
  background-color: black;
}